.box    {
    background-color: violet;
    width: 200px;
    height: 200px;
    border: 3px solid grey;
    margin: 20px;
    display: inline-block;
    border-radius: 50%;
}

.box11 {
    background-color: green;
    width: 200px;
    height: 200px;
    border: 3px solid grey;
    margin: 20px;
    display: inline-block;
    border-radius: 50%;
}

/*Task*/


.box1 {
    width: 200px;
    height: 200px;
    border: 3px solid grey;
    margin: 20px;
    display: inline-block;
    border-radius: 50%;
} 

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}


.red {
    background-color: red;
}
/* .box11 {
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 3px solid grey;
    margin: 20px;
    display: inline-block;
    border-radius: 50%;
}  */

/* .box12 {
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 3px solid grey;
    margin: 20px;
    display: inline-block;
    border-radius: 50%;
}  */

/* .box13 {
    background-color: red;
    width: 200px;
    height: 200px;
    border: 3px solid grey;
    margin: 20px;
    display: inline-block;
    border-radius: 50%; *
} */

